@section Scripts {
    <script src="~/js/Poker.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Poker.css" />
}

<div class="page-container">
    <div class="banner-container">
    </div>
    <div class="page-title-container">Book4Book</div>
    <div class="menu-container">
        <div class="menu-item">Start</div>
        <div class="menu-item">Add Announcement</div>
        <div class="menu-item">Login</div>
        <div class="menu-item">Register</div>
    </div>
    <div class="announcements-container">
        <div class="announcements-container-title">All Announcements</div>
        <div class="announcement-box">Announcement 1</div>
        <div class="announcement-box">Announcement 2</div>
        <div class="announcement-box">Announcement 3</div>
        <div class="announcement-box">Announcement 4</div>
    </div>

    <div class="register-container">
        <div class="register-title">Register user</div>
        <div class="register-form">
            <label for="fname">First name:</label><br />
            <input type="text" id="fname" name="fname" required><br>
            <label for="lname">Last name:</label><br />
            <input type="text" id="lname" name="lname" required><br />
            <label for="mail" required>E-mail:</label><br />
            <input type="text" id="mail" name="mail" required><br />
            <label for="login" required>Login:</label><br />
            <input type="text" id="login" name="login" required><br />
            <label for="pass" required>Password:</label><br />
            <input type="text" id="pass" name="pass" required><br />
            <button class="card-game-button" onclick="addUser()" id="addUser">Add User</button>
        </div>
    </div>

    <div class="login-container">
        <div class="login-title">Login</div>
        <div class="login-form">
            <label for="login2" required>Login:</label><br />
            <input type="text" id="login2" name="login"><br />
            <label for="pass2" required>Password:</label><br />
            <input type="text" id="pass2" name="pass"><br />
        </div>
    </div>

    <div class="new-announcement-container">
        <div class="new-announcement-title">New announcement</div>
        <div class="new-announcement-form">
            <label for="title" required>Title:</label><br />
            <input type="text" id="title" name="title"><br />
            <label for="author" required>Author:</label><br />
            <input type="text" id="author" name="author"><br />
            <label for="category" required>Category:</label><br />
            <input type="text" id="category" name="category"><br />
            <label for="city" required>City:</label><br />
            <input type="text" id="city" name="city"><br />
            <label for="description" required>Description:</label><br />
            <input type="text" id="description" name="description"><br />
            <button class="card-game-button" onclick="addAnnouncement()" id="addAnnouncement">Add Announcement</button>
        </div>
    </div>
</div>

<div class="buttons-container">
    <button class="card-game-button" onclick="getAllUsers()" id="getAllUsers">Get Users</button>
    <button class="card-game-button" onclick="getAllAnnouncements()" id="getAllAnnouncements">Get Announcements</button>
</div>
