@section Scripts {
    <script src="~/js/Poker.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/Poker.css" />
}

    <div class="page-container" id="start">
        <div class="dark-overlay" id="dark-overlay-id"></div>
        <div class="banner-container">
        </div>
        <div class="page-title-container">Book4Book</div>
        <div class="menu-container">
            <div class="menu-left-side">
                <div class="menu-item">Start</div>
                <div class="menu-item" onclick="getAllAnnouncements()">Announcements</div>
                <div class="menu-item">About</div>
            </div>
            <div class="menu-right-side">
                <div class="menu-item" onclick="Login()">Login</div>
                <div class="menu-item" onclick="RegisterUser()">Register</div>
            </div>
        </div>
        <div class="announcements-container" id="announcements">
            <div class="announcements-container-title">All Announcements</div>
            <div class="announcement-buttons-box">
                <button class="card-game-button" onclick="loadAnnouncements()" id="loadAnnouncements">Refresh Announcements</button>
                <button class="card-game-button" onclick="NewAnnouncement()" id="addAnnouncement">Add Announcement</button>
            </div>
            <div class="announcements-table" id="announcements-table-id">
                <div class="announcement-table-header">
                    <div class="announcement-table-coulmn">Title</div>
                    <div class="announcement-table-coulmn">Author</div>
                    <div class="announcement-table-coulmn">Category</div>
                    <div class="announcement-table-coulmn">City</div>
                    <div class="announcement-table-coulmn">Date</div>
                </div>
            </div>
        </div>
        <div class="about-container" id="about">
            Book4Book dziala na zasadzie popularnego w ostatnich latach OLX. To portal przede wszystkim dla fanow ksiazek, miejsce w ktorym bezplatnie moga wystawic swoje ulubione powiesci i wymieniac sie razem z innymi ksiazkoholikami. Clou projektu jest bardzo proste - uzytkownik rejestruje sie na strone podajac podstawowe dane takie jak login i haslo. Klikajac w zakladke "dodaj ogloszenie" moze dodac krotka informacje na temat ksiazki tj: nazwe, autora oraz gatunek literacki. Uzytkownicy wymieniaja sie ksiazkami lokalnie. Portal zastrzega sobie wystawianie ogloszen platnych.
        </div>

        <div class="popup-container" id="register-container-id">
            <div class="popup-box">
                <div class="popup-title">Register user</div>
                <div class="popup-parameter-row">
                    <label for="fname">First name:</label>
                    <input type="text" id="fname" name="fname" required>
                </div>
                <div class="popup-parameter-row">
                    <label for="lname">Last name:</label>
                    <input type="text" id="lname" name="lname" required>
                </div>
                <div class="popup-parameter-row">
                    <label for="mail" required>E-mail:</label>
                    <input type="text" id="mail" name="mail" required>
                </div>
                <div class="popup-parameter-row">
                    <label for="login" required>Login:</label>
                    <input type="text" id="login" name="login" required>
                </div>
                <div class="popup-parameter-row">
                    <label for="pass" required>Password:</label>
                    <input type="text" id="pass" name="pass" required>
                </div>
                <div class="buttons-container">
                    <button class="card-game-button" onclick="addUser()" id="addUser">Register</button>
                    <button class="card-game-button" onclick="cancelRegisterUser()" id="cancelRegisterUser">Cancel</button>
                </div>
            </div>
        </div>

        <div class="popup-container" id="login-container-id">
            <div class="popup-box">
                <div class="popup-title">Login</div>
                <div class="popup-parameter-row">
                    <label for="login" required>Login:</label>
                    <input type="text" id="loginUser" name="login" required>
                </div>
                <div class="popup-parameter-row">
                    <label for="pass" required>Password:</label>
                    <input type="text" id="passUser" name="pass" required>
                </div>
                <div class="buttons-container">
                    <button class="card-game-button" onclick="loginUser()" id="addUser">Login</button>
                    <button class="card-game-button" onclick="cancelLoginUser()" id="cancelLoginUser">Cancel</button>
                </div>
            </div>
        </div>

        <div class="popup-container" id="new-announcement-container-id">
            <div class="popup-box">
                <div class="popup-title">New Announcement</div>
                <div class="popup-parameter-row">
                    <label for="title" required>Title:</label>
                    <input type="text" id="title" name="title">
                </div>
                <div class="popup-parameter-row">
                    <label for="author" required>Author:</label>
                    <input type="text" id="author" name="author">
                </div>
                <div class="popup-parameter-row">
                    <label for="category" required>Category:</label>
                    <input type="text" id="category" name="category">
                </div>
                <div class="popup-parameter-row">
                    <label for="city" required>City:</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="popup-parameter-row">
                    <label for="description" required>Description:</label>
                    <input type="text" id="description" name="description">
                </div>
                <div class="buttons-container">
                    <button class="card-game-button" onclick="addAnnouncement()" id="addAnnouncement">Add</button>
                    <button class="card-game-button" onclick="cancelNewAnnouncement()" id="cancelNewAnnouncement">Cancel</button>
                </div>
            </div>
        </div>
    </div>
