@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-6">
            <a class="game-button poker" asp-area="" asp-controller="Poker" asp-action="Poker">Poker</a>
        </div>
    </div>
</div>
